@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1920px;
    min-width: 320px;
    width: 100%;
}

#header {
    background: url(imagens/sombrio-1.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#header h1, #footer h1 {
    background-color: rgba(250, 250, 250, 0.1);
    text-shadow: 10px 10px 10px black;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.300);
    border-radius: 20px;
    font-size: 3em;
    color: white;
    width: 500px;
    text-align: center;
    height: 200px;
    margin: 400px auto;
    padding-top: 70px;
}

.f-section {
    background: url(imagens/sombrio-2.jpg);
}

.s-section {
    background: url(imagens/sombrio-3.jpg);
}

.t-section {
    background: url(imagens/sombrio-4.jpg);
}

.f-section, .s-section, .t-section {
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {
    height: auto;
    background-color: rgb(15, 15, 25);
    color: #d7d4d4;
    padding: 10px;
}

.parallax h1 {
    text-align: center;
    font-size: 3em;
    padding: 20px;
}

.parallax p {
    text-indent: 30px;
    font-size: 1em;
    text-align: justify;
    margin: 10px;
}